# Database Queries


This is the first notebook in a series of Jupyter Notebooks linked to the project titled "__Developing Mechanism-Based Models for Complex Toxicology Study Endpoints Using Standardized Electronic Submission Data__".  They should be somewhat ordinal, i.e., should be run in order as each Notebook could depend on results from a previous notebook.  

This notebook requires a dependency script, `send.py`, which contains an object that is a live instance to the database and can be queried, etc.  This script requires two variables to be configured, `db_dir` and `send_db_file`.  `db_dir` should point to the directory that contains the SQLlite database and `send_db_file` should be the SQLite database file itself. 

This notebook simply is simply just to get database queries for the SEND manuscript.

In [38]:
from send import send_db
import pandas as pd

ts = send_db.generic_query('SELECT * FROM TS')

In [39]:
print(f"There are {ts.TSPARMCD.nunique()} TSPARMCDs")
print('\n'.join(ts.TSPARMCD.unique()))

There are 101 TSPARMCDs
AGETXT
AGEU
DOSDUR
EXPENDTC
EXPSTDTC
GLPTYP
HOUSEGRP
RECSAC
ROUTE
SDESIGN
SNDCTVER
SNDIGVER
SPECIES
SPLRLOC
SPLRNAM
SPREFID
SSPONSOR
SSTYP
STCAT
STDIR
STITLE
STRAIN
STSTDTC
TFCNTRY
TRMSAC
TRT
TRTCAS
TRTV
TSTFLOC
TSTFNAM
ASOCSTDY
BEDCHNG
BEDDING
DIET
DOSENDTC
DOSSTDTC
ENVTEMP
ENVTEMPU
FEEDREG
GLPFL
HOUSETYP
HUMIDT
HUMIDTU
IACUC
IDMETH
LIGHT
MTHTRM
PCLASS
SEXPOP
SRANDOM
STENDTC
TRTUNII
WATER
WTRDLVRY
STMON
PINV
TRTDOSU
SLENGTH
PLANFSUB
PLANMSUB
SPLANSUB
TSCNTRY
TSLOC
TSNAM
TKDESC
AGE
PPL
PDOSFRQ
CNTRBSC
STRPSTAT
SBSTRAIN
TOTANPCH
ALTSTDID
INTSAC
PPTCNAM
PPTEGID
PPTEGSYM
PPTMDA
STOBJ
STRPNUM
TANUM
AMGPNUM
GPSNUM
THAGTMOD
QATYPE
PROTNUM
STRPDT
PREPPER
PDFORM
SPFIND
LOT
TESTID
TCNTRL
PKANIND
DEFVER
DOSFRQ
PCLAS
PRJCTID
CLASS
TELMIND
WATRDLVRY

In [40]:
animals = send_db.get_all_animals()

animals.head()

    STUDYID  ID        USUBJID SPECIES  STRAIN SEX
0  00086621   1  00086621-1001     DOG  BEAGLE   M
1  00086621   1  00086621-1002     DOG  BEAGLE   M
2  00086621   1  00086621-1003     DOG  BEAGLE   M
3  00086621   1  00086621-2001     DOG  BEAGLE   M
4  00086621   1  00086621-2002     DOG  BEAGLE   M

### Results section 3.1

In [41]:
animals.USUBJID.nunique()

169839

In [42]:
animals.SPECIES.value_counts()

RAT           95464
MOUSE         42770
MONKEY        16980
DOG           11629
PIG            1657
RABBIT         1426
GUINEA PIG      334
CAT             178
MINIPIG           2
Name: SPECIES, dtype: int64

In [43]:
95464/169839

0.5620852689900435

In [44]:
training = pd.read_csv('data/RAT/RAT_training_data.csv')

/hive/Anaconda3-2020.02/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
training.USUBJID.nunique()

17285

### Results section 3.2

In [46]:
mi = send_db.generic_query('SELECT * FROM MI')

mi['MISPEC'] = mi['MISPEC'].str.upper()
mi['MISTRESC'] = mi['MISTRESC'].str.upper()

liver = mi[mi.MISPEC == 'LIVER']

In [52]:
print(mi.MISPEC.value_counts())
print(mi.shape[0])

LIVER                                     114636
KIDNEY                                    105560
GLAND, ADRENAL                             97592
SPLEEN                                     89112
THYMUS                                     87497
                                           ...
ESOPHAGUS/TRACHEA                              1
LYMPH NODE,  MESENTERIC                        1
DOSING SITE #1                                 1
BRAIN, CEREBRUM/BRAIN, CEREBELLUM              1
HEMOLYMPHORETICULAR SYSTEM (ALL SITES)         1
Name: MISPEC, Length: 579, dtype: int64
3803024

In [53]:
liver_training_rats = liver[liver.USUBJID.isin(training.USUBJID.values)]

print(liver_training_rats.head())

     STUDYID DOMAIN        USUBJID  MISEQ  ... FOCID MICHRON MIDISTR VISITDY
29   8391504     MI  8391504-R0001     30  ...  None    None    None     NaN
30   8391504     MI  8391504-R0001     31  ...  None    None    None     NaN
57   8391504     MI  8391504-R0002     58  ...  None    None    None     NaN
118  8391504     MI  8391504-R0003    119  ...  None    None    None     NaN
175  8391504     MI  8391504-R0004    176  ...  None    None    None     NaN

[5 rows x 32 columns]

In [56]:
liver_training_rats.MISTRESC.value_counts().to_csv('data/RAT/text/training_set_liver_findings.csv')

## Results Section 3.3